@import url("https://fonts.googleapis.com/css?family=Bungee+Hairline");
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Raleway');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

.antiScroll {
	top: 0;
	color: #fff;
	width: 100%;
	height: 39.8125rem;
	display: flex;
	position: absolute;
	background-color: #222;
}

.logo {
	width: 20%;
    left: 40%;
    top: 5%;
    position: absolute;
}
 
.textMove {
	left: 50%;
	top: 60%;
	list-style: none;
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
}

.textMove li {
	opacity: 1;
	color: #FFF;
	font-size: 3em;
	display: inline-block;
	transition: all 2.5s ease;
	font-family: 'Bungee Hairline', cursive;
}

.textMove li:last-child {
	margin-right: 0;
}

.textMove.hidden li {
	opacity: 0;
}


.textMove.hidden li:nth-child(1) { transform: translateX(-12px) translateY(-200px); }
.textMove.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
.textMove.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
.textMove.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px); }
.textMove.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px); }
.textMove.hidden li:nth-child(6) { transform: translateX(20px) translateY(-20px); }
.textMove.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px); }
.textMove.hidden li:nth-child(8) { transform: translateX(25px) translateY(-10px); }
.textMove.hidden li:nth-child(9) { transform: translateX(-200px) translateY(-100px); }
.textMove.hidden li:nth-child(10) { transform: translateX(40px) translateY(-200px); }
.textMove.hidden li:nth-child(11) { transform: translateX(-10px) translateY(-100px); }
.textMove.hidden li:nth-child(12) { transform: translateX(-20px) translateY(30px); }
.textMove.hidden li:nth-child(13) { transform: translateX(-15px) translateY(90px); }
.textMove.hidden li:nth-child(14) { transform: translateX(20px) translateY(-100px); }
.textMove.hidden li:nth-child(15) { transform: translateX(8px) translateY(150px); }
.textMove.hidden li:nth-child(16) { transform: translateX(-8px) translateY(-90px); }
.textMove.hidden li:nth-child(17) { transform: translateX(15px) translateY(-250px); }

.antiScroll a {
	color: white;
    margin-top: 45%;
    text-decoration: none;
    font-family: 'Bungee Hairline', cursive;
}

.antiScroll a:hover {
	font-size: 1.4em;
	text-shadow: 0.125rem 0.125rem #FFF;
}

section#banner {
	background-image: url(../img/loto.jpeg);
	background-size: 100%;
	height: 39.8125rem;
	background-repeat: no-repeat;
}

.opacidad {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
	height: 39.8125rem;
}

header {
	position: fixed;
	width: 100%;
	height:  4.375rem;
	background-color: transparent;
	-webkit-transition: background-color .5s;
}

.nHeader {
	display: table;
	margin: auto;
	margin-top: 0.9375rem;
	height:  2.5rem;
	-webkit-transition: margin-left .5s;
}

.ulHeader {
	display: block;
	float: left;
	list-style: none;
}

.ulHeader li {
	float: left;
	margin:  0.625rem;
	padding: 0.125rem;
}

.ulHeader a {
	color: #F3F3F3;
	text-decoration: none;
	font-weight: bold;
	font-size: 1em;
	font-family: 'Julius Sans One', sans-serif;
}

img#logo {
	float:left;
	display: block;
	margin-left: 1.875rem;
	margin-right: 1.875rem;
	margin-top:  9.375rem;
	-webkit-transition: width .5s, height .5s, margin-right .5s, margin-top .5s;
}


